<div class="container">
  <h1>Add a new House</h1>
  <%= simple_form_for @flat do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :guests %>
    <%= f.input :property_type, collection: Flat::TYPES %>
    <%= f.input :price %>
    <%= f.submit class: 'btn btn-info' %>
  <% end %>
</div>
